<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Categorias aos Posts</title>
</head>
<body>
    <div>
        <h1>Adicionar Categoria aos posts</h1>
        <form action="/categories/save" method="POST">
            <div>
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name">
            </div>
            <button type="submit">Adicionar</button>
        </form>
        <a href="/categories">Ver Categorias</a>
    </div>
</body>
</html>