<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Unicesumar</title>
</head>
<body>
    <div>
        <h1>Últimos posts</h1>
        <div>
            <div>
                <div style="width: 450px;">
                    <divstyle="height: 250px; width: 400px; background-color: grey;">
                        <img  src="" alt="">
                    </div>
                    <div>
                        <h5>Título primeiro Post </h5>
                        <p>Este é um resumo do primeiro post, contendo um resumo do que se foi passado no post.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div>
                <div style="width: 450px;">
                    <div style="height: 250px; width: 450px; background-color: grey;">
                        <img  src="" alt="">
                    </div>
                    <div>
                        <h5>Título primeiro Post</h5>
                        <p>Este é um resumo do primeiro post, contendo um resumo do que se foi passado no post.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div>
                <div style="width: 450px;">
                    <div style="height: 250px; width: 450px; background-color: grey;">
                        <img  src="" alt="">
                    </div>
                    <div >
                        <h5>Título primeiro Post</h5>
                        <p>Este é um resumo do primeiro post, contendo um resumo do que se foi passado no post.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div>
                <di> style="width: 400px;">
                    <div style="height: 200px; width: 400px; background-color: grey;">
                        <img  src="" alt="">
                    </div>
                    <div>
                        <h5>Título primeiro Post</h5>
                        <p>Este é um resumo do primeiro post, contendo um resumo do que se foi passado no post.</p>
                        <a href="#">Leia mais</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="/users">Listagem dos usuarios</a>
        <a href="/categories">Listagem das categorias</a>
        <a href="/logout">SAIDA</a>
    </div>
</body>
</html>
